.example {
    padding: 10px;
    border: 1px solid #ccc;
}
#drop_zone {
    padding: 25px;
    text-align: center;
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #bbb;
}
.sigma-parent {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 500px;
}
.sigma-expand {
    width: 100%;
    height: 100%;
}
